<div class="jumbotron hero-banner">
  <div class="container">
    <h1 class="hero hero-title">Zemmie</h1>
    <p class="hero hero-subtitle">the mellow mango</p>
  </div>
</div>

<div class="container content">
  
  <% @stories.each do |story| %>
    <%= render story %>
  <% end %>
  
</div>