<div class="jumbotron hero-banner">
  <div class="container">
    <h1 class="hero hero-title">Zemmie</h1>
    <p class="hero hero-subtitle">the mellow mango</p>
  </div>
</div>

<div class="container content">
  <div>
    <h2>Title Here</h2>
    <p>My awesome story goes here.</p>
  </div>  
</div>