<div class="story-title"><%= @story.title %></div>
<div class="story-subtitle"><%= @story.subtitle %></dic>

<div class="table-of-contents">Table of Contents</div>

<ol>
  <% @story.parts.each do |part| %>
    <li class="toc-chapter"><%= link_to part.title, show_story_part_path(id: @story.slug, part_id: part.slug) %></p>
  <% end %>
</ol>