<h1 class="story-title"><%= @story.title %></h1>
<p class="story-subtitle"><%= @story.subtitle %></p>

<h2>Table of Contents</h2>

<% @story.parts.each do |part| %>
  <p class="toc-chapter"><%= link_to part.title, show_story_part_path(id: @story.slug, part_id: part.id) %></p>
<% end %>
