<h1 class="part-title"><%= @part.title %></h1>

<h2 class="part-story-title"><%= link_to @part.story.title, story_path(@part.story.slug || @part.story_id) %></h2>

<div>
  <%= markdown @part.body %>
</div>

