// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  background-color: #a5becc;
}

.hero-banner {
  background-color: #966c39;
  padding-bottom: 32px;
  padding-top: 32px;
}

.hero {
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #FFE082;
}

.hero a {
  color: #FFE082;
}

.hero a:hover {
  text-decoration: none;
}

.hero-title {
  font-size: 4em;
}
.hero-subtitle {
  font-size: 2em;
}

.content {
  font-family: 'Libre Baskerville', serif;
}

.part-title {
  font-size: 2em;
  text-align: center;
  padding-bottom: 10px;
}

.part-story-title {
  font-size: 1.1em;
  text-align: center;
  padding-bottom: 30px;
  font-style: italic;
}

.part-story-title a {
  color: #212529;
}