html, body {
	height: 100%;
	margin: 0px;
	background-color: #a5becc;
}

.hero-title {
	text-align: center;
	font-size: 3em;
//	font-family: 'Bungee Shade', cursive;
	font-family: 'Indie Flower', cursive;
    background-color: #966c39;
    color: #fff;
    padding: 30px 35px;
    position: relative;
    margin: 0 auto;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}